In [401]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
from math import sqrt
import scipy
import seaborn as sns
from datetime import datetime
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from matplotlib.dates import DateFormatter
#import statsmodels.formula.api as smf
import copy
import matplotlib.lines as mlines
import matplotlib.transforms as mtransforms
from sklearn.ensemble import RandomForestRegressor
from math import sqrt
from functools import reduce
import numpy as np
#import ee
#import geemap
import geopandas as gpd
import rioxarray as rxr
import rasterstats as rs
from rasterio.plot import show
import rasterio
import cartopy.crs as ccrs
import gdal
%matplotlib inline
plt.rcParams["font.family"] = "Arial"

In [402]:
ndvi_irri = pd.read_csv('/Users/delatorredm/OneDrive - The University of Auckland/Ch4_Climate_Impacts/ndvi_irrigated.csv')[['ADM3_EN','yr1','yr5']]
ndvi_rf =pd.read_csv('/Users/delatorredm/OneDrive - The University of Auckland/Ch4_Climate_Impacts/ndvi_rainfed.csv')[['ADM3_EN','yr1','yr5']]
ndvi_all = pd.read_csv('/Users/delatorredm/OneDrive - The University of Auckland/Ch4_Climate_Impacts/ndvi_all.csv')[['ADM3_EN','yr1','yr5']]
#ndvi_all

# 5 YEAR INCREMENTS
## Irrigated Rice

In [403]:
points = '/Users/delatorredm/Library/CloudStorage/OneDrive-TheUniversityofAuckland/Ch4_Climate_Impacts/geospatial_layers/out5yr/intersect_DS_5yr.shp'
#points = '/Users/delatorredm/Library/CloudStorage/OneDrive-TheUniversityofAuckland/Ch4_Climate_Impacts/geospatial_layers/out2017/intersect_DS_2017.shp'
points = gpd.read_file(points)

startYear = 2013
#startYear = 2017
endYear = 2017

actual = pd.read_csv('/Users/delatorredm/OneDrive - The University of Auckland/Ch4_Climate_Impacts/iloilo_rice_data_cleaned_imputed_new.csv')
actual = actual[(actual.param == 'yield') & (actual.ecosystem == 'irri')].reset_index(drop=True)
actualFixed = actual.rename(columns={'muni':'ADM3_EN','year':'Date'}).drop(columns=['ecosystem'])
actualFixed= actualFixed[(actualFixed.Date <= endYear) & (actualFixed.Date >= startYear)].groupby(['ADM3_EN','param']).mean().reset_index(drop=False)
#actualFixed

points2 = points.loc[points['Class']=='Irrigated Rice'].groupby(['ADM3_EN']).mean().reset_index(drop=False)

merged = pd.merge(actualFixed, points2, left_on='ADM3_EN', right_on='ADM3_EN')
df = merged.rename(columns={'value':'actualYield','ch3_slope':'slope','ch3_elevat':'elevation'})
df = pd.DataFrame(df)

'''df = df.loc[df['ADM3_EN'].isin(['San Miguel',
'Oton',
'Barotac Viejo',
'Iloilo City',
'Leganes',
'Mina',
'Dingle',
'New Lucena',
'Santa Barbara',
'Pototan'])]
'''

'''df = df.loc[df['ADM3_EN'].isin([
'Zarraga',
'Anilao',
'Dumangas',
'Janiuay',
'Banate',
'Barotac Nuevo',
])]'''

#formula = 'actualYield ~ ndvi + LST_Night_1km + pcp + et + pet + slope + elevation'
formula = 'ndvi ~ lstday + pet + et'
results = smf.ols(formula = formula, 
                 missing='drop',
                 data=df).fit()
print(results.summary())
#print(pd.DataFrame(results.params).round(decimals=4).transpose())

model = forward_selected(df.drop(columns=['ADM3_EN','param','Date','fid_1','actualYield']), 'ndvi')
print('FORMULA: ', model.model.formula)
print('R2 = ', model.rsquared.round(decimals=4))

                            OLS Regression Results
==============================================================================
Dep. Variable:                   ndvi   R-squared:                       0.502
Model:                            OLS   Adj. R-squared:                  0.395
Method:                 Least Squares   F-statistic:                     4.704
Date:                Tue, 05 Apr 2022   Prob (F-statistic):             0.0179
Time:                        01:24:11   Log-Likelihood:                 34.476
No. Observations:                  18   AIC:                            -60.95
Df Residuals:                      14   BIC:                            -57.39
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      1.8752      0.574      3.268      0.006       0.644       3.106
lstday        -0.0119      0.022     -0.543      0.596      -0.059       0.035
pet           -0.0260      0.017     -1.564      0.140      -0.062       0.010
et             0.0400      0.019      2.114      0.053      -0.001       0.081
==============================================================================
Omnibus:                        0.718   Durbin-Watson:                   2.557
Prob(Omnibus):                  0.698   Jarque-Bera (JB):                0.647
Skew:                           0.058   Prob(JB):                        0.723
Kurtosis:                       2.078   Cond. No.                     3.22e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.22e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
FORMULA:  ndvi ~ lstday + et + pcp + slope + elevation + pet + 1
R2 =  0.6804

/Users/delatorredm/miniconda3/envs/ee/lib/python3.8/site-packages/scipy/stats/stats.py:1541: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=18
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

In [407]:
merged

,ADM3_EN,param,Date,value,fid_1,et,lstday,lstnight,pcp,pet,ch3_slope,ch3_elevat,ndvi
0,Anilao,yield,2015.0,4.107906,11101.000000,25.590000,28.662733,22.885086,408.795850,35.223333,0.679341,25.000000,1.604960
1,Banate,yield,2015.0,4.173094,10219.833333,21.171111,28.812414,23.148067,359.097152,30.767917,0.464795,9.000000,1.595563
2,Barotac Nuevo,yield,2015.0,4.259635,12258.409091,23.623589,29.783191,22.904002,406.627550,34.601364,0.429941,14.500000,1.610112
3,Barotac Viejo,yield,2015.0,4.255862,9512.571429,24.894722,29.598520,23.148506,377.845498,36.159841,0.973596,21.476190,1.549798
4,Dingle,yield,2015.0,4.596457,10817.111111,25.419120,29.633513,22.804544,420.999838,36.180694,0.656537,23.000000,1.582780
5,Dumangas,yield,2015.0,4.167609,13225.657895,27.093136,28.646812,22.665182,426.501846,38.766206,0.336499,7.947368,1.630101
6,Iloilo City,yield,2015.0,4.255819,14636.166667,22.801111,31.239275,23.378241,461.247458,35.088472,0.280022,9.833333,1.484503
7,Janiuay,yield,2015.0,4.126242,11681.000000,26.158333,29.478800,22.515848,412.824485,36.035000,0.000000,44.000000,1.575740
8,Leganes,yield,2015.0,4.518183,13976.923077,24.157051,29.532231,23.165378,449.547824,35.396667,0.235064,11.384615,1.588709
9,Mina,yield,2015.0,4.595758,11945.750000,27.930694,29.190509,22.967682,413.423742,38.094931,0.405078,32.666667,1.653747
10,New Lucena,yield,2015.0,4.730041,12357.000000,24.288333,29.413940,23.073738,396.009393,34.367917,0.295781,24.000000,1.670380
11,Oton,yield,2015.0,4.226835,15096.489362,25.977128,30.042771,23.026692,456.543358,37.625691,0.299520,16.595745,1.524783
12,Pavia,yield,2015.0,4.962302,14273.200000,26.851500,30.222693,23.062310,453.602095,38.251000,0.179261,15.000000,1.651532
13,Pototan,yield,2015.0,4.775703,12160.350000,26.575458,29.831472,23.198863,401.562572,37.513344,0.339282,17.400000,1.634836
14,San Miguel,yield,2015.0,4.195662,14281.000000,24.711458,30.533405,23.164250,407.168463,36.976250,0.206249,29.750000,1.544265
15,Santa Barbara,yield,2015.0,4.725014,13951.500000,28.856250,30.326550,22.964402,428.447844,40.820625,0.699230,23.500000,1.634485
16,Tigbauan,yield,2015.0,4.561610,15334.909091,25.161061,29.843597,22.630016,510.242963,37.169697,0.547456,25.181818,1.520233
17,Zarraga,yield,2015.0,3.695318,13247.181818,23.423333,29.983176,23.249266,417.523037,34.246970,0.275814,8.727273,1.556384

In [379]:
X = df[[
    'pcp',
    #'lstday',
    'lstnight',
    'et',
    #'pet',
    #'slope',
    'elevation'
]]
y = df.ndvi
X = X.to_numpy()
y = y.to_numpy()

from sklearn.model_selection import train_test_split
random_state = 26
#11 #26 #6
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size = 0.20, 
                                                      random_state = random_state
                                                     )
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators = 50,
                           n_jobs = -1,
                           oob_score = True,
                           bootstrap = True,
                           random_state = random_state
                          )
rf.fit(X_train, y_train)

print('R^2 Training Score: {:.2f} \nOOB Score: {:.2f} \nR^2 Validation Score: {:.2f}'.format(rf.score(X_train, y_train), 
                                                                                             rf.oob_score_,
                                                                                             rf.score(X_valid, y_valid)))
print(rf.feature_importances_.round(decimals=4))

R^2 Training Score: 0.86
OOB Score: -0.11
R^2 Validation Score: 0.63
[0.53   0.1898 0.2052 0.0751]

In [400]:
y

array([1.56603143, 1.58377579, 1.57032353, 1.68639571, 1.52664667,
       1.60184118, 1.5066104 , 1.55561062, 1.52156471, 1.65604   ,
       1.568446  , 1.642614  , 1.50381529, 1.60972444, 1.651365  ,
       1.57446875, 1.626299  , 1.50114615, 1.54021   , 1.52190889,
       1.55625882, 1.60667111, 1.68122333, 1.51442   , 1.5553683 ,
       1.55685176, 1.65023818, 1.53577077, 1.64976133, 1.63408   ,
       1.44439867, 1.460944  , 1.63099176, 1.55533174, 1.6049475 ,
       1.5322728 , 1.49274   , 1.5560992 , 1.55421571, 1.56734843,
       1.52498636, 1.5622    , 1.56434   ])

## Rain-fed rice

In [408]:
points = '/Users/delatorredm/Library/CloudStorage/OneDrive-TheUniversityofAuckland/Ch4_Climate_Impacts/geospatial_layers/out5yr/intersect_DS_5yr.shp'
#points = '/Users/delatorredm/Library/CloudStorage/OneDrive-TheUniversityofAuckland/Ch4_Climate_Impacts/geospatial_layers/out2017/intersect_DS_2017.shp'

points = gpd.read_file(points)

startYear = 2013
endYear = 2017
actual = pd.read_csv('/Users/delatorredm/OneDrive - The University of Auckland/Ch4_Climate_Impacts/iloilo_rice_data_cleaned_imputed_new.csv')
actual = actual[(actual.param == 'yield') & (actual.ecosystem == 'rf')].reset_index(drop=True)
actualFixed = actual.rename(columns={'muni':'ADM3_EN','year':'Date'}).drop(columns=['ecosystem'])
actualFixed= actualFixed[(actualFixed.Date <= endYear) & (actualFixed.Date >= startYear)].groupby(['ADM3_EN','param']).mean().reset_index(drop=False)

points2 = points.loc[points['Class']=='Rain-fed Rice'].groupby(['ADM3_EN']).mean().reset_index(drop=False)

merged = pd.merge(actualFixed, points2, left_on='ADM3_EN', right_on='ADM3_EN')
merged

df = merged.rename(columns={'value':'actualYield','ch3_slope':'slope','ch3_elevat':'elevation'})
df = pd.DataFrame(df)

'''# RF I
df = df.loc[df['ADM3_EN'].isin([
'Alimodian',
'Cabatuan',
'Guimbal',
'Igbaras',
'Leganes',
'Leon',
'Maasin',
'Miagao',
'Oton',
'Pavia',
'San Joaquin',
'San Miguel',
'Santa Barbara',
'Tigbauan',
'Tubungan',
])]'''

'''# RF II
df = df.loc[df['ADM3_EN'].isin([
'Anilao',
'Badiangan',
'Banate',
'Barotac Nuevo',
'Barotac Viejo',
'Bingawan',
'Calinog',
'City of Passi',
'Dingle',
'Dumangas',
'Janiuay',
'Lambunao',
'Mina',
'New Lucena',
'Pototan',
'San Enrique',
'San Rafael',
'Zarraga',
])]'''

'''# RF III
df = df.loc[df['ADM3_EN'].isin([
'Ajuy',
'Balasan',
'Batad',
'Carles',
'Concepcion',
'Estancia',
'Lemery',
'San Dionisio',
])]
'''


#formula = 'actualYield ~ ndvi + LST_Night_1km + pcp + et + pet + slope + elevation'
formula = 'ndvi ~ pcp + et + slope + lstnight + 1'
results = smf.ols(formula = formula, 
                 missing='drop',
                 data=df).fit()
print(results.summary())
print(pd.DataFrame(results.params).round(decimals=4).transpose())

model = forward_selected(df.drop(columns=['ADM3_EN','param','Date','fid_1','actualYield']), 'ndvi')
print(model.model.formula)
print(model.rsquared)

                            OLS Regression Results
==============================================================================
Dep. Variable:                   ndvi   R-squared:                       0.561
Model:                            OLS   Adj. R-squared:                  0.515
Method:                 Least Squares   F-statistic:                     12.15
Date:                Tue, 05 Apr 2022   Prob (F-statistic):           1.86e-06
Time:                        01:25:29   Log-Likelihood:                 80.168
No. Observations:                  43   AIC:                            -150.3
Df Residuals:                      38   BIC:                            -141.5
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      1.4926      0.233      6.393      0.000       1.020       1.965
pcp           -0.0003      0.000     -2.132      0.040      -0.001   -1.42e-05
et             0.0173      0.003      6.637      0.000       0.012       0.023
slope         -0.0029      0.004     -0.683      0.499      -0.012       0.006
lstnight      -0.0100      0.009     -1.059      0.296      -0.029       0.009
==============================================================================
Omnibus:                        1.773   Durbin-Watson:                   2.325
Prob(Omnibus):                  0.412   Jarque-Bera (JB):                0.869
Skew:                          -0.155   Prob(JB):                        0.648
Kurtosis:                       3.624   Cond. No.                     1.83e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.83e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
   Intercept     pcp      et   slope  lstnight
0     1.4926 -0.0003  0.0173 -0.0029     -0.01
ndvi ~ et + pet + pcp + lstnight + 1
0.7139669425026882

In [409]:
merged

,ADM3_EN,param,Date,value,fid_1,et,lstday,lstnight,pcp,pet,ch3_slope,ch3_elevat,ndvi
0,Ajuy,yield,2015.0,3.532055,8097.828571,25.901476,28.201982,22.290354,436.523797,36.177619,2.308458,70.885714,1.566031
1,Alimodian,yield,2015.0,3.384596,13234.526316,26.777061,29.310358,22.330696,457.109342,37.350132,4.135539,161.947368,1.583776
2,Anilao,yield,2015.0,3.450418,10663.588235,24.302831,29.167668,22.730035,395.717009,34.684522,2.535541,46.941176,1.570324
3,Badiangan,yield,2015.0,3.881851,10635.642857,29.275387,28.981753,22.199447,458.468109,38.274405,1.676290,71.357143,1.686396
4,Balasan,yield,2015.0,3.087230,3157.555556,23.254244,28.501590,22.074684,561.967316,33.494190,2.001325,21.777778,1.526647
5,Banate,yield,2015.0,3.841311,9821.941176,25.004779,29.448144,22.796098,371.757514,36.216127,1.544544,34.352941,1.601841
6,Barotac Nuevo,yield,2015.0,3.327693,12045.880000,20.876342,26.287933,20.038609,427.727207,30.314958,0.334543,7.960000,1.506610
7,Barotac Viejo,yield,2015.0,3.459721,9006.750000,26.309505,29.415561,22.614315,411.930386,36.631992,2.789280,67.906250,1.555611
8,Batad,yield,2015.0,3.580798,3869.823529,24.839412,29.387400,22.730414,555.838455,36.366765,3.641028,39.588235,1.521565
9,Bingawan,yield,2015.0,3.307013,7262.000000,29.173611,29.319221,21.811331,519.972665,39.792222,1.189152,87.166667,1.656040
10,Cabatuan,yield,2015.0,3.463998,12672.875000,24.754333,30.056711,22.622366,396.280807,35.312531,1.439764,68.000000,1.568446
11,Calinog,yield,2015.0,3.769642,8399.350000,28.455458,29.667727,21.748897,513.777731,37.703875,1.965074,89.050000,1.642614
12,Carles,yield,2015.0,2.489368,2087.000000,23.324804,25.013216,20.854045,480.382327,33.267304,2.276908,16.647059,1.503815
13,City of Passi,yield,2015.0,3.472267,7797.269841,24.918717,29.556469,21.838557,471.488601,34.740324,2.448945,90.333333,1.609724
14,Concepcion,yield,2015.0,3.094715,6872.250000,28.295903,28.005515,22.888769,442.400341,38.999514,2.425718,21.250000,1.651365
15,Dingle,yield,2015.0,3.783963,10575.812500,26.884154,29.579503,22.695240,424.354354,37.189844,0.986230,37.625000,1.574469
16,Duenas,yield,2015.0,3.174676,0.000000,24.726229,29.628055,22.138365,458.924046,34.720583,1.207737,48.400000,1.626299
17,Dumangas,yield,2015.0,3.607363,13109.461538,23.941026,29.304481,23.419023,426.559513,34.930000,0.265057,5.923077,1.501146
18,Estancia,yield,2015.0,3.504090,3236.100000,23.679167,29.018079,23.273665,507.595106,35.154833,1.956393,21.600000,1.540210
19,Guimbal,yield,2015.0,3.268034,15628.111111,26.072778,29.793688,22.764506,582.048252,38.728426,1.584622,42.222222,1.521909
20,Igbaras,yield,2015.0,3.446701,14848.117647,27.887990,29.154924,21.901271,609.399220,38.975784,7.835085,251.823529,1.556259
21,Janiuay,yield,2015.0,3.511049,11027.611111,26.401991,29.806713,22.162036,451.355230,36.875231,1.460164,94.277778,1.606671
22,Lambunao,yield,2015.0,3.113191,9304.133333,30.504236,28.977021,21.512152,511.245589,39.493292,2.003423,110.000000,1.681223
23,Leganes,yield,2015.0,3.728630,13946.166667,16.436944,29.507994,23.069759,449.533309,23.837917,0.430961,6.666667,1.514420
24,Lemery,yield,2015.0,3.399731,6682.754717,25.436250,29.370828,22.110090,440.449894,35.745008,2.885868,122.509434,1.555368
25,Leon,yield,2015.0,3.220689,13649.941176,26.108676,29.465920,22.160796,539.854758,36.381471,4.446222,198.705882,1.556852
26,Maasin,yield,2015.0,3.283385,11897.636364,27.682879,28.577196,21.798775,470.603280,36.713485,4.949310,187.636364,1.650238
27,Miagao,yield,2015.0,2.811528,15905.692308,27.231090,29.106800,22.441496,580.541808,39.040641,4.612625,140.461538,1.535771
28,Mina,yield,2015.0,4.412905,11664.200000,25.618500,29.217381,22.710583,419.289896,36.248000,0.672034,34.733333,1.649761
29,New Lucena,yield,2015.0,4.098974,12727.400000,25.739250,29.765322,22.852163,399.602778,36.688917,0.907424,22.200000,1.634080
30,Oton,yield,2015.0,3.131354,14838.466667,24.210944,30.476567,23.023914,449.056145,35.277333,0.345003,31.800000,1.444399
31,Pavia,yield,2015.0,3.692915,14300.800000,18.843833,31.424147,23.060679,439.882520,28.473167,0.370524,17.800000,1.460944
32,Pototan,yield,2015.0,3.705170,11601.411765,27.054485,29.393692,22.908727,413.272166,37.052794,0.624905,24.823529,1.630992
33,San Dionisio,yield,2015.0,3.276326,5292.347826,24.732394,28.529443,22.592212,500.268511,35.380764,2.774785,45.000000,1.555332
34,San Enrique,yield,2015.0,3.535249,8930.125000,25.074245,29.536733,21.889963,438.252078,34.779236,2.689260,79.208333,1.604947
35,San Joaquin,yield,2015.0,2.761988,17101.720000,26.559533,26.452663,20.436876,511.812395,36.568633,6.319859,146.040000,1.532273
36,San Miguel,yield,2015.0,3.959072,14101.769231,23.361090,30.599642,23.090240,412.154100,34.958077,0.557286,37.384615,1.492740
37,San Rafael,yield,2015.0,3.675189,7879.040000,24.741700,29.328898,21.927414,443.050706,35.676500,1.857491,123.400000,1.556099
38,Santa Barbara,yield,2015.0,3.336028,13531.607143,25.231994,30.256981,22.962038,412.062953,36.852292,0.779793,28.392857,1.554216
39,Sara,yield,2015.0,3.032738,5823.457831,24.617959,29.399951,22.370712,474.958489,34.639849,3.184771,96.879518,1.567348
40,Tigbauan,yield,2015.0,3.447216,15292.681818,26.089129,29.787254,22.604850,528.383029,38.198750,1.537558,33.863636,1.524986
41,Tubungan,yield,2015.0,3.237813,13910.615385,27.021923,28.385059,21.058755,602.289733,38.631859,9.853277,358.307692,1.562200
42,Zarraga,yield,2015.0,3.849280,13296.800000,25.367667,29.972969,23.188574,422.580622,36.885833,0.212952,9.400000,1.564340

In [394]:
X = df[[
    'pcp',
    'lstday',
    #'lstnight',
    'et',
    #'pet',
    'slope',
    #'elevation'
]]
y = df.ndvi
X = X.to_numpy()
y = y.to_numpy()

from sklearn.model_selection import train_test_split
random_state = 26
#11 #26 #6
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size = 0.20, 
                                                      random_state = random_state
                                                     )
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators = 50,
                           n_jobs = -1,
                           oob_score = True,
                           bootstrap = True,
                           random_state = random_state
                          )
rf.fit(X_train, y_train)

print('R^2 Training Score: {:.2f} \nOOB Score: {:.2f} \nR^2 Validation Score: {:.2f}'.format(rf.score(X_train, y_train), 
                                                                                             rf.oob_score_,
                                                                                             rf.score(X_valid, y_valid)))
print(rf.feature_importances_.round(decimals=4))

R^2 Training Score: 0.95
OOB Score: 0.52
R^2 Validation Score: 0.70
[0.1718 0.0813 0.6839 0.063 ]

## ALL RICE

In [44]:
points = '/Users/delatorredm/Library/CloudStorage/OneDrive-TheUniversityofAuckland/Ch4_Climate_Impacts/geospatial_layers/out5yr/intersect_DS_5yr.shp'
#points = '/Users/delatorredm/Library/CloudStorage/OneDrive-TheUniversityofAuckland/Ch4_Climate_Impacts/geospatial_layers/out2017/intersect_DS_2017.shp'

points = gpd.read_file(points)

startYear = 2013
endYear = 2017
actual = pd.read_csv('/Users/delatorredm/OneDrive - The University of Auckland/Ch4_Climate_Impacts/iloilo_rice_data_cleaned_imputed_new.csv')

irrlist = [
'Anilao',
'Banate',
'Barotac Nuevo',
'Barotac Viejo',
'Dingle',
'Dumangas',
'Iloilo City',
'Janiuay',
'Leganes',
'Mina',
'New Lucena',
'Oton',
'Pavia',
'Pototan',
'San Miguel',
'Santa Barbara',
'Tigbauan',
'Zarraga',
]

list1 = actual[(actual.param == 'yield') & (actual.ecosystem == 'rf')].reset_index(drop=True)
list1 = list1.loc[~list1['muni'].isin(irrlist)]

list2 = actual[(actual.param == 'yield') & (actual.ecosystem == 'all')].reset_index(drop=True)
list2 = list2.loc[list2['muni'].isin(irrlist)]
actual = pd.concat([list1, list2])

actualFixed = actual.rename(columns={'muni':'ADM3_EN','year':'Date'}).drop(columns=['ecosystem']).reset_index(drop=True)
actualFixed= actualFixed[(actualFixed.Date <= endYear) & (actualFixed.Date >= startYear)].groupby(['ADM3_EN','param']).mean().reset_index(drop=False)
actualFixed

points2 = points.groupby(['ADM3_EN']).mean().reset_index(drop=False)

merged = pd.merge(actualFixed, points2, left_on='ADM3_EN', right_on='ADM3_EN')
df = merged.rename(columns={'value':'actualYield','ch3_slope':'slope','ch3_elevat':'elevation'})
df = pd.DataFrame(df)


#formula = 'actualYield ~ ndvi + LST_Night_1km + pcp + et + pet + slope + elevation'
formula = 'ndvi ~ et + pet + lstnight + pcp + 1'
results = smf.ols(formula = formula, 
                 missing='drop',
                 data=df).fit()
print(results.summary())
print(pd.DataFrame(results.params).round(decimals=4).transpose())

model = forward_selected(df.drop(columns=['ADM3_EN','param','Date','fid_1','actualYield']), 'ndvi')
print(model.model.formula)
print(model.rsquared)

                            OLS Regression Results
==============================================================================
Dep. Variable:                   ndvi   R-squared:                       0.761
Model:                            OLS   Adj. R-squared:                  0.737
Method:                 Least Squares   F-statistic:                     31.08
Date:                Sat, 12 Mar 2022   Prob (F-statistic):           1.18e-11
Time:                        16:32:44   Log-Likelihood:                 101.13
No. Observations:                  44   AIC:                            -192.3
Df Residuals:                      39   BIC:                            -183.3
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      1.1565      0.185      6.244      0.000       0.782       1.531
et             0.0489      0.006      8.069      0.000       0.037       0.061
pet           -0.0323      0.006     -5.191      0.000      -0.045      -0.020
lstnight       0.0188      0.008      2.285      0.028       0.002       0.035
pcp           -0.0002    8.5e-05     -2.073      0.045      -0.000   -4.28e-06
==============================================================================
Omnibus:                        0.094   Durbin-Watson:                   2.173
Prob(Omnibus):                  0.954   Jarque-Bera (JB):                0.299
Skew:                           0.038   Prob(JB):                        0.861
Kurtosis:                       2.603   Cond. No.                     2.27e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.27e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
   Intercept      et     pet  lstnight     pcp
0     1.1565  0.0489 -0.0323    0.0188 -0.0002
ndvi ~ et + pet + lstnight + pcp + 1
0.7611831227004047

In [47]:
X = df[['pcp','lstday','lstnight','et','pet','slope','elevation']]
y = df.ndvi
X = X.to_numpy()
y = y.to_numpy()

from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size = 0.2, random_state = 1)
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators = 1000,
                           #n_jobs = -1,
                           oob_score = True,
                           #bootstrap = True,
                           random_state = 1)
rf.fit(X_train, y_train)

print('R^2 Training Score: {:.2f} \nOOB Score: {:.2f} \nR^2 Validation Score: {:.2f}'.format(rf.score(X_train, y_train), 
                                                                                             rf.oob_score_,
                                                                                             rf.score(X_valid, y_valid)))
print(rf.feature_importances_.round(decimals=4))

R^2 Training Score: 0.92
OOB Score: 0.34
R^2 Validation Score: 0.56
[0.17   0.0749 0.047  0.4947 0.0936 0.0555 0.0643]