In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
from math import sqrt
import scipy
import seaborn as sns
from datetime import datetime
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from matplotlib.dates import DateFormatter
import statsmodels.formula.api as sm
import copy
import matplotlib.lines as mlines
import matplotlib.transforms as mtransforms
import sklearn
from math import sqrt
from functools import reduce
import numpy as np
#import ee
#import geemap
import geopandas as gpd
import rioxarray as rxr
import rasterstats as rs
from rasterio.plot import show
import rasterio

%matplotlib inline

In [27]:
plt.rcParams["font.family"] = "Arial"

# IRRIGATED

In [28]:
# NDVI SUM Data
points = '/Users/delatorredm/OneDrive - The University of Auckland/Ch4_Climate_Impacts/geospatial_layers/duration_seasonalCompositeNDVI_2017_SUM_JAS.gpkg'
points = gpd.read_file(points)
points = points.groupby(['Class','ADM3_EN']).mean().reset_index()
points = points.loc[points['Class']=='Irrigated Rice']
points = points.rename(columns=dict(zip(list(points.columns[2:20]), list(np.arange(2001, 2019, 1)))))
points['param']='ndvi'
ndvi = points.melt(id_vars=["Class", "ADM3_EN", "param"], var_name="Date", value_name='value')

# PCP
param_name = 'pcp'
params = '/Users/delatorredm/OneDrive - The University of Auckland/Ch4_Climate_Impacts/geospatial_layers/params_seasonalComposite_'+param_name+'_JAS.gpkg'
params = gpd.read_file(params).groupby(['Class','ADM3_EN']).mean().reset_index()
params = params.loc[params['Class']=='Irrigated Rice']
params = params.rename(columns=dict(zip(list(params.columns[2:20]), list(np.arange(2001, 2019, 1)))))
params['param']= param_name
pcp = params.melt(id_vars=["Class", "ADM3_EN", "param"], var_name="Date", value_name='value')

# LST DAY
param_name = 'LST_Day_1km'
params = '/Users/delatorredm/OneDrive - The University of Auckland/Ch4_Climate_Impacts/geospatial_layers/params_seasonalComposite_'+param_name+'_JAS.gpkg'
params = gpd.read_file(params).groupby(['Class','ADM3_EN']).mean().reset_index()
params = params.loc[params['Class']=='Irrigated Rice']
params = params.rename(columns=dict(zip(list(params.columns[2:20]), list(np.arange(2001, 2019, 1)))))
params['param']= param_name
lstday = params.melt(id_vars=["Class", "ADM3_EN", "param"], var_name="Date", value_name='value')

# LST NIGHT
param_name = 'LST_Night_1km'
params = '/Users/delatorredm/OneDrive - The University of Auckland/Ch4_Climate_Impacts/geospatial_layers/params_seasonalComposite_'+param_name+'_JAS.gpkg'
params = gpd.read_file(params).groupby(['Class','ADM3_EN']).mean().reset_index()
params = params.loc[params['Class']=='Irrigated Rice']
params = params.rename(columns=dict(zip(list(params.columns[2:20]), list(np.arange(2001, 2019, 1)))))
params['param']= param_name
lstnight = params.melt(id_vars=["Class", "ADM3_EN", "param"], var_name="Date", value_name='value')

# ET
param_name = 'et'
params = '/Users/delatorredm/OneDrive - The University of Auckland/Ch4_Climate_Impacts/geospatial_layers/params_seasonalComposite_'+param_name+'_JAS.gpkg'
params = gpd.read_file(params).groupby(['Class','ADM3_EN']).mean().reset_index()
params = params.loc[params['Class']=='Irrigated Rice']
params = params.rename(columns=dict(zip(list(params.columns[2:20]), list(np.arange(2001, 2019, 1)))))
params['param']= param_name
et = params.melt(id_vars=["Class", "ADM3_EN", "param"], var_name="Date", value_name='value')

# PET
param_name = 'pet'
params = '/Users/delatorredm/OneDrive - The University of Auckland/Ch4_Climate_Impacts/geospatial_layers/params_seasonalComposite_'+param_name+'_JAS.gpkg'
params = gpd.read_file(params).groupby(['Class','ADM3_EN']).mean().reset_index()
params = params.loc[params['Class']=='Irrigated Rice']
params = params.rename(columns=dict(zip(list(params.columns[2:20]), list(np.arange(2001, 2019, 1)))))
params['param']= param_name
pet = params.melt(id_vars=["Class", "ADM3_EN", "param"], var_name="Date", value_name='value')

# ELEVATION
param_name = 'elevation'
params = '/Users/delatorredm/OneDrive - The University of Auckland/Ch4_Climate_Impacts/geospatial_layers/params_ch3_elevation.gpkg'
params = gpd.read_file(params).groupby(['Class','ADM3_EN']).mean().reset_index()
params = params.loc[params['Class']=='Irrigated Rice']
params = params.rename(columns=dict(zip(list(params.columns[2:20]), list(np.arange(2001, 2019, 1)))))
params['param']= param_name
elevation = params.melt(id_vars=["Class", "ADM3_EN", "param"], var_name="Date", value_name='value')
elevation['Date'] = 2017

# SLOPE
param_name = 'slope'
params = '/Users/delatorredm/OneDrive - The University of Auckland/Ch4_Climate_Impacts/geospatial_layers/params_ch3_slope.gpkg'
params = gpd.read_file(params).groupby(['Class','ADM3_EN']).mean().reset_index()
params = params.loc[params['Class']=='Irrigated Rice']
params = params.rename(columns=dict(zip(list(params.columns[2:20]), list(np.arange(2001, 2019, 1)))))
params['param']= param_name
slope = params.melt(id_vars=["Class", "ADM3_EN", "param"], var_name="Date", value_name='value')
slope['Date'] = 2017

In [29]:
# Subset temporally and pivot to table for linear regression
startYear = 2012
endYear = 2017
merged = pd.concat([ndvi, pcp, lstday, lstnight, et, pet, elevation, slope])
subbed = merged[(merged.Date <= endYear) & (merged.Date >= startYear)].groupby(['ADM3_EN','param']).mean().reset_index(drop=False)

df = subbed.pivot(index="ADM3_EN", columns=["param"],values="value").reset_index(drop=False)
df

param,ADM3_EN,LST_Day_1km,LST_Night_1km,elevation,et,ndvi,pcp,pet,slope
0,Anilao,29.752275,22.879352,25.000000,24.428704,2.161667,1021.584401,35.135185,0.679341
1,Banate,29.167690,23.270684,9.000000,25.580741,2.214025,897.541770,37.108333,0.464795
2,Barotac Nuevo,30.485585,23.150976,14.500000,25.610251,2.323344,1009.738954,36.803858,0.429941
3,Barotac Viejo,30.307110,23.119553,21.476190,24.637728,2.184279,907.282328,36.262727,0.973596
4,Dingle,30.343313,22.812495,23.000000,26.404654,2.259961,1042.818827,36.141766,0.656537
5,Dumangas,30.073989,23.647222,7.947368,27.070961,2.309406,1017.942077,37.917145,0.336499
6,Iloilo City,30.940884,23.578897,9.833333,22.376042,2.197569,1154.839328,32.598457,0.280021
7,Janiuay,30.734093,22.720741,44.000000,26.976389,2.278850,1069.234975,34.770833,0.000000
8,Leganes,30.171614,23.332358,11.384615,26.634028,2.290865,1106.655612,37.770274,0.235064
9,Mina,30.530469,23.080012,32.666667,28.689950,2.348275,1066.056944,38.955594,0.405078
10,New Lucena,30.607296,23.184190,24.000000,25.135417,2.341167,1045.959702,35.570139,0.295781
11,Oton,30.289264,23.455832,16.595745,26.222221,2.244891,1198.886004,37.165866,0.299520
12,Pavia,30.070826,23.241037,15.000000,28.908576,2.342727,1137.350739,39.170162,0.179261
13,Pototan,30.771488,23.466083,17.400000,27.862750,2.347527,1034.120179,38.037486,0.339282
14,San Miguel,31.107155,23.430880,29.750000,24.872917,2.247867,1164.528178,36.440856,0.206249
15,Santa Barbara,31.105268,23.242500,23.500000,28.356945,2.374113,1136.577212,39.237153,0.699230
16,Tigbauan,30.091321,22.896532,25.181818,25.890572,2.256762,1284.381159,37.008418,0.547456
17,Zarraga,30.457062,23.641957,8.727273,25.017801,2.229361,1040.843838,35.445216,0.275814

In [37]:
formula = 'ndvi ~ LST_Day_1km + pet'
results = sm.ols(formula = formula, 
                 missing='drop',
                 data=df).fit()
print(results.summary())
print(pd.DataFrame(results.params).round(decimals=4).transpose())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   ndvi   R-squared:                       0.660
Model:                            OLS   Adj. R-squared:                  0.615
Method:                 Least Squares   F-statistic:                     14.59
Date:                Wed, 15 Dec 2021   Prob (F-statistic):           0.000303
Time:                        19:08:48   Log-Likelihood:                 34.353
No. Observations:                  18   AIC:                            -62.71
Df Residuals:                      15   BIC:                            -60.03
Df Model:                           2
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept      -0.5806      0.667     -0.871      0.398      -2.002       0.841
LST_Day_1km     0.0610      0.020      3.052      0.008       0.018       0.104
pet             0.0273      0.006      4.811      0.000       0.015       0.039
==============================================================================
Omnibus:                        1.213   Durbin-Watson:                   2.466
Prob(Omnibus):                  0.545   Jarque-Bera (JB):                0.155
Skew:                           0.059   Prob(JB):                        0.925
Kurtosis:                       3.439   Cond. No.                     3.44e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.44e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
   Intercept  LST_Day_1km     pet
0    -0.5806        0.061  0.0273

/Users/delatorredm/miniconda3/envs/ee/lib/python3.8/site-packages/scipy/stats/stats.py:1541: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=18
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

# RAINFED

In [6]:
# NDVI SUM Data
points = '/Users/delatorredm/OneDrive - The University of Auckland/Ch4_Climate_Impacts/geospatial_layers/duration_seasonalCompositeNDVI_2017_SUM_JFM.gpkg'
points = gpd.read_file(points)
points = points.groupby(['Class','ADM3_EN']).mean().reset_index()
points = points.loc[points['Class']=='Rain-fed Rice']
points = points.rename(columns=dict(zip(list(points.columns[2:20]), list(np.arange(2001, 2019, 1)))))
points['param']='ndvi'
ndvi = points.melt(id_vars=["Class", "ADM3_EN", "param"], var_name="Date", value_name='value')

# PCP
param_name = 'pcp'
params = '/Users/delatorredm/OneDrive - The University of Auckland/Ch4_Climate_Impacts/geospatial_layers/params_seasonalComposite_'+param_name+'_JFM.gpkg'
params = gpd.read_file(params).groupby(['Class','ADM3_EN']).mean().reset_index()
params = params.loc[params['Class']=='Rain-fed Rice']
params = params.rename(columns=dict(zip(list(params.columns[2:20]), list(np.arange(2001, 2019, 1)))))
params['param']= param_name
pcp = params.melt(id_vars=["Class", "ADM3_EN", "param"], var_name="Date", value_name='value')

# LST DAY
param_name = 'LST_Day_1km'
params = '/Users/delatorredm/OneDrive - The University of Auckland/Ch4_Climate_Impacts/geospatial_layers/params_seasonalComposite_'+param_name+'_JFM.gpkg'
params = gpd.read_file(params).groupby(['Class','ADM3_EN']).mean().reset_index()
params = params.loc[params['Class']=='Rain-fed Rice']
params = params.rename(columns=dict(zip(list(params.columns[2:20]), list(np.arange(2001, 2019, 1)))))
params['param']= param_name
lstday = params.melt(id_vars=["Class", "ADM3_EN", "param"], var_name="Date", value_name='value')

# LST NIGHT
param_name = 'LST_Night_1km'
params = '/Users/delatorredm/OneDrive - The University of Auckland/Ch4_Climate_Impacts/geospatial_layers/params_seasonalComposite_'+param_name+'_JFM.gpkg'
params = gpd.read_file(params).groupby(['Class','ADM3_EN']).mean().reset_index()
params = params.loc[params['Class']=='Rain-fed Rice']
params = params.rename(columns=dict(zip(list(params.columns[2:20]), list(np.arange(2001, 2019, 1)))))
params['param']= param_name
lstnight = params.melt(id_vars=["Class", "ADM3_EN", "param"], var_name="Date", value_name='value')

# ET
param_name = 'et'
params = '/Users/delatorredm/OneDrive - The University of Auckland/Ch4_Climate_Impacts/geospatial_layers/params_seasonalComposite_'+param_name+'_JFM.gpkg'
params = gpd.read_file(params).groupby(['Class','ADM3_EN']).mean().reset_index()
params = params.loc[params['Class']=='Rain-fed Rice']
params = params.rename(columns=dict(zip(list(params.columns[2:20]), list(np.arange(2001, 2019, 1)))))
params['param']= param_name
et = params.melt(id_vars=["Class", "ADM3_EN", "param"], var_name="Date", value_name='value')

# PET
param_name = 'pet'
params = '/Users/delatorredm/OneDrive - The University of Auckland/Ch4_Climate_Impacts/geospatial_layers/params_seasonalComposite_'+param_name+'_JFM.gpkg'
params = gpd.read_file(params).groupby(['Class','ADM3_EN']).mean().reset_index()
params = params.loc[params['Class']=='Rain-fed Rice']
params = params.rename(columns=dict(zip(list(params.columns[2:20]), list(np.arange(2001, 2019, 1)))))
params['param']= param_name
pet = params.melt(id_vars=["Class", "ADM3_EN", "param"], var_name="Date", value_name='value')

# ELEVATION
param_name = 'elevation'
params = '/Users/delatorredm/OneDrive - The University of Auckland/Ch4_Climate_Impacts/geospatial_layers/params_ch3_elevation.gpkg'
params = gpd.read_file(params).groupby(['Class','ADM3_EN']).mean().reset_index()
params = params.loc[params['Class']=='Rain-fed Rice']
params = params.rename(columns=dict(zip(list(params.columns[2:20]), list(np.arange(2001, 2019, 1)))))
params['param']= param_name
elevation = params.melt(id_vars=["Class", "ADM3_EN", "param"], var_name="Date", value_name='value')
elevation['Date'] = 2017

# SLOPE
param_name = 'slope'
params = '/Users/delatorredm/OneDrive - The University of Auckland/Ch4_Climate_Impacts/geospatial_layers/params_ch3_slope.gpkg'
params = gpd.read_file(params).groupby(['Class','ADM3_EN']).mean().reset_index()
params = params.loc[params['Class']=='Rain-fed Rice']
params = params.rename(columns=dict(zip(list(params.columns[2:20]), list(np.arange(2001, 2019, 1)))))
params['param']= param_name
slope = params.melt(id_vars=["Class", "ADM3_EN", "param"], var_name="Date", value_name='value')
slope['Date'] = 2017

In [7]:
# Subset temporally and pivot to table for linear regression
startYear = 2012
endYear = 2017
merged = pd.concat([ndvi, pcp, lstday, lstnight, et, pet, elevation, slope])
subbed = merged[(merged.Date <= endYear) & (merged.Date >= startYear)].groupby(['ADM3_EN','param']).mean().reset_index(drop=False)

df = subbed.pivot(index="ADM3_EN", columns=["param"],values="value").reset_index(drop=False)
'''df = df.loc[df['ADM3_EN'].isin([
'Carles',
'Calinog',
'Estancia',
'Lambunao',
'Cabatuan',
'Duenas',
'Santa Barbara',
#'Bingawan',
'Maasin',
'Badiangan'
])]'''


df

param,ADM3_EN,LST_Day_1km,LST_Night_1km,elevation,et,ndvi,pcp,pet,slope
0,Ajuy,28.687320,21.384192,70.885714,29.941365,2.131713,323.840146,49.947264,2.308457
1,Alimodian,30.453222,21.905168,161.947368,26.341044,2.076395,245.505945,50.085343,4.135536
2,Anilao,32.098078,21.749143,46.941176,23.960744,1.988011,236.849850,47.321698,2.535541
3,Badiangan,29.336703,21.551225,71.357143,27.894246,2.273580,282.728989,48.556002,1.676291
4,Balasan,29.561098,21.754047,21.777778,27.847374,2.012520,429.465698,49.916319,2.001327
5,Banate,31.512564,21.882481,34.352941,23.692293,1.973951,216.948468,46.791285,1.544544
6,Barotac Nuevo,31.749642,21.777504,7.960000,24.027006,1.869618,263.146109,48.764032,0.334543
7,Barotac Viejo,30.148663,21.568225,67.906250,28.394773,2.089180,277.032807,49.765890,2.789280
8,Batad,29.195222,21.549565,39.588235,27.791231,2.096498,414.478554,50.318205,3.641025
9,Bingawan,28.852831,21.123917,87.166667,26.819907,2.260217,336.040811,48.003781,1.189152
10,Cabatuan,31.225285,22.046221,68.000000,23.445798,1.993260,268.548848,46.958031,1.439763
11,Calinog,29.852625,21.131153,89.050000,25.850127,2.188669,306.865644,46.407523,1.965074
12,Carles,29.437239,22.497889,16.647059,29.016759,1.940832,375.412014,50.419630,2.276907
13,City of Passi,30.211182,21.113776,90.333333,24.316293,2.132788,330.173622,46.046824,2.448945
14,Concepcion,28.757961,21.772935,21.250000,32.813079,2.207329,337.030035,52.169830,2.425719
15,Dingle,30.805708,21.670936,37.625000,24.530064,2.019592,266.735216,47.909832,0.986229
16,Dueñas,30.450126,21.451084,48.400000,22.421391,2.149552,282.600781,45.003303,1.207737
17,Dumangas,30.480850,22.180976,5.923077,25.396740,1.885217,261.977792,49.314255,0.265057
18,Estancia,29.299636,22.095549,21.600000,27.475556,2.078937,389.250603,49.207801,1.956394
19,Guimbal,32.483781,23.178024,42.222222,23.890741,1.904944,191.267730,51.082870,1.584619
20,Igbaras,31.414705,22.372548,251.823529,27.466449,2.030468,189.648924,53.204276,7.835081
21,Janiuay,30.284323,21.502530,94.277778,24.604876,2.091138,287.680496,46.941510,1.460164
22,Lambunao,29.144031,21.043163,110.000000,28.557409,2.244729,286.183144,48.262637,2.003423
23,Leganes,30.372319,21.907865,6.666667,22.993692,1.790317,217.548488,48.755613,0.430961
24,Lemery,29.535028,21.125849,122.509434,28.517388,2.172685,334.875480,48.992099,2.885868
25,Leon,30.564572,21.862104,198.705882,27.557523,2.079446,222.045057,51.932610,4.446222
26,Maasin,29.206931,21.475431,187.636364,28.800421,2.249645,283.572138,50.547731,4.949307
27,Miagao,31.826363,22.486529,140.461538,26.495281,1.976129,176.647253,53.219231,4.612625
28,Mina,30.813844,21.809150,34.733333,23.279852,2.069221,273.825475,47.164958,0.672035
29,New Lucena,31.280670,21.809267,22.200000,24.830579,2.099050,249.705309,49.082268,0.907424
30,Oton,32.508460,22.463672,31.800000,22.826620,1.814172,194.643843,48.392469,0.345003
31,Pavia,32.944660,22.065512,17.800000,20.193576,1.835900,189.491510,47.576389,0.370525
32,Pototan,30.762153,21.812887,24.823529,24.060607,1.983821,271.612250,47.760335,0.624905
33,San Dionisio,29.095307,21.527092,45.000000,28.769913,2.079133,369.528729,49.783472,2.774784
34,San Enrique,30.789394,21.140177,79.208333,24.022299,2.079433,275.587570,46.564747,2.689260
35,San Joaquin,31.403994,22.313009,146.040000,28.300312,1.952769,138.019864,54.763517,6.319856
36,San Miguel,32.525636,22.240256,37.384615,21.422881,1.772709,209.808205,47.419444,0.557286
37,San Rafael,29.719028,20.760976,123.400000,25.566252,2.073364,309.521114,48.550009,1.857491
38,Santa Barbara,31.919804,21.949296,28.392857,22.911822,1.921886,225.657738,48.393237,0.779793
39,Sara,29.822784,21.429132,96.879518,28.662137,2.152195,367.542253,49.968351,3.184771
40,Tigbauan,32.220679,22.905815,33.863636,22.946549,1.817491,195.046276,49.036153,1.537557
41,Tubungan,30.114021,21.245934,358.307692,26.568519,2.083785,202.946173,52.312464,9.853274
42,Zarraga,30.613407,21.839819,9.400000,24.065833,1.971433,240.623515,48.906019,0.212952

In [25]:
formula = 'ndvi ~ et + pet + elevation'
results = sm.ols(formula = formula, 
                 missing='drop',
                 data=df).fit()
print(results.summary())
print(pd.DataFrame(results.params).round(decimals=4).transpose())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   ndvi   R-squared:                       0.784
Model:                            OLS   Adj. R-squared:                  0.767
Method:                 Least Squares   F-statistic:                     47.15
Date:                Wed, 15 Dec 2021   Prob (F-statistic):           4.82e-13
Time:                        18:58:42   Log-Likelihood:                 59.787
No. Observations:                  43   AIC:                            -111.6
Df Residuals:                      39   BIC:                            -104.5
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      3.2355      0.263     12.322      0.000       2.704       3.767
et             0.0484      0.005     10.469      0.000       0.039       0.058
pet           -0.0510      0.006     -8.042      0.000      -0.064      -0.038
elevation      0.0008      0.000      5.186      0.000       0.000       0.001
==============================================================================
Omnibus:                        0.801   Durbin-Watson:                   1.943
Prob(Omnibus):                  0.670   Jarque-Bera (JB):                0.572
Skew:                           0.280   Prob(JB):                        0.751
Kurtosis:                       2.921   Cond. No.                     3.07e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.07e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
   Intercept      et    pet  elevation
0     3.2355  0.0484 -0.051     0.0008